@model Store.Domain.Models.User


@{
    ViewBag.Title = "Register";
    Layout = "../Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">

            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
            {

                <fieldset>
                    <div id="legend">
                        <legend>Register</legend>
                    </div>
                    @Html.ValidationSummary()
                    <div class="control-group">
                        <label class="control-label" for="username">Username</label>
                        <div class="controls">
                            @Html.TextBoxFor(u => u.Username, new { @class = "form-control input-lg" })
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="email">E-mail</label>
                        <div class="controls">
                            @Html.EditorFor(u => u.Email, new { @class = "form-control input-lg" })
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="email">E-mail</label>
                        <div class="controls">
                            @Html.TextBoxFor(u => u.Name, new { @class = "form-control input-lg" })
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="password">Password</label>
                        <div class="controls">
                            @Html.PasswordFor(u => u.Password, new { @class = "form-control input-lg" })
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="password_confirm">Password (Confirm)</label>
                        <div class="controls">
                            @Html.PasswordFor(u => u.ConfirmPassword, new { @class = "form-control input-lg" })
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <input type="submit" value="Register" class="btn btn-primary" />
                        </div>
                    </div>
                </fieldset>}


        </div>
    </div>
</div>